div{
	align:"center";
}
.style1{
	height:100%;
	width:100%;
	border:0;
	cellspacing:0;
	cellpadding:0;
}
.style2{
	height:100px;
	width:100%;
	border:0;
	cellspacing:0;
	cellpadding:0;
	background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
}
.style3{
	text-align:center;
	color:#FFF;
	font-size:50px;
    font-family:"KaiTi";
}
.style4{
	border:0;
	cellspacing:0;
	cellpadding:0;
	background-color:#0088A8;
	height:15px;
	width:100%;
}
.style5{
	width:100%;
	color:#FFF;
	font-size:12px;
    font-family:"KaiTi";
}
a:link{
	text-decoration:none;
}
.style6{
	width:200px;
	background-color:#EEE;
	valign:top;
	height:100%;
}
.style7{
	width:100%;
	background-color:#EEE;
}
.style8{
	font-family:"KaiTi";
	align:"center";
}
.style9{
	border:1px;
	border-style:outset;
	border-color:#B088FF;
	margin:0px;
}
.style10{
	width:100%;
	height:18px;
	cellspacing:0;
	cellpadding:0;
	background-repeat:no-repeat ;
    background-size:100% 100%;
    font-family:"KaiTi";
    font-size:16px;
    color:#FFF;
}
.style11{
	width:100%;
	height:18px;
	cellspacing:0;
	cellpadding:0;
	background-repeat:no-repeat ;
    background-size:100% 100%;
    font-family:"KaiTi";
    font-size:15px;
    color:#FFF;
}
.style12{
	margin:0px,0px,0px,20px;
	height:420px;
	width:1100px;
}
.style13{
	width:205px;
	margin:10px;
}
.style13 img{
    height: 180px;
    width: 180px;
}
.mygoodstable{
	font-family:"KaiTi";
	height:400px;
	width:100%;
	border:1px;
	background-color:#EEE;
}
.mygoodstable img{
	height: 220px;
    width: 220px;
}